@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-image: url("https://images.pexels.com/photos/1435895/pexels-photo-1435895.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-color: #cccccc;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 2px black;
}

nav {
    padding: 20px;
    background-color: #F2CD88;
}

main {
    padding: 16px;
    margin: 1em;
}

footer {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 30px;
    background-color: #D97F30;
    color: white;
}

img {
    height: 200px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

a {
    color: #8C4014;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

a:hover {
    box-shadow: 0. 2px, 5px, 5px, solid rgb(63, 54, 54);
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #aa5d4c;
}

h2 {
    color: green;
}

.shadow {
    box-shadow: 0 2px 4px 2px rgb(0, 0, 0);
    transition: box-shadow 0.5s;
}


tr:nth-child(even):not(:first-child) {
    background-color: rgb(206, 204, 204);
    width: 25%
}
